<a href="https://colab.research.google.com/github/Somarouthusiri/python/blob/main/List_%26_patterns.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
x="hello siri"
y=x.capitalize()
print(y)

Hello siri

In [ ]:
x="HEY YOU ARE SO Beautiful"
y=x.casefold()
print(y)

hey you are so beautiful

In [ ]:
x="rajiya"
y=x.center(40)
print(y)

                 rajiya

In [ ]:
x="I am trying to learn python,but python is not like me,so python is not understand to me"
z=x.count("python")
print(z)

3

In [ ]:
s="mánásá"
print(s.encode())

b'm\xc3\xa1n\xc3\xa1s\xc3\xa1'

In [ ]:
siri=["red","big","tasty"]
priya=["apple","banana","cherry"]
for x in siri:
 for y in priya:
  print(x,y)

red apple
red banana
red cherry
big apple
big banana
big cherry
tasty apple
tasty banana
tasty cherry

In [ ]:
siri = ["red", "big", "tasty"]
priya = ["apple", "banana", "cherry"]
for x in siri:
    for y in priya:
        if x=="big":
            continue
        print(x,y)

red apple
red banana
red cherry
tasty apple
tasty banana
tasty cherry

In [ ]:
for i in range(1,6):
 for j in range(1,6):
  print("*",end="")
 print()

*****
*****
*****
*****
*****

In [ ]:
for i in range(5):
 for j in range(i+1):
  print("*",end="")
 print()

*
**
***
****
*****

In [ ]:
for i in range(5):
 for j in range(5-i):
  print("*",end="")
 print()

*****
****
***
**
*

In [ ]:
for x in range(1, 6):
    for y in range(5, x, -1):
        print(" ", end="")
    for z in range(0, x):
        print("*", end="")
    print()

    *
   **
  ***
 ****
*****

In [ ]:
def is_leap_year(year):
    if (year % 4 == 0 and year % 100 != 0) or (year % 400 == 0):
        return True
    else:
        return False

# Test the function
year = int(input("Enter a year: "))
if is_leap_year(year):
    print(f"{year} is a leap year.")
else:
    print(f"{year} is not a leap year.")

Enter a year: 1678
1678 is not a leap year.

In [ ]:
n = 5
for i in range(1, n + 1):
    print(" " * (n - i) + "*" * (2 * i - 1))
for i in range(n - 1, 0, -1):
    print(" " * (n - i) + "*" * (2 * i - 1))

    *
   ***
  *****
 *******
*********
 *******
  *****
   ***
    *

In [ ]:
def is_prime(number):
    if number <= 1:
        return False
    for i in range(2, int(number**0.5) + 1):
        if number % i == 0:
            return False
    return True

# Test the function
num = int(input("Enter a number: "))
if is_prime(num):
    print(f"{num} is a prime number.")
else:
    print(f"{num} is not a prime number.")

Enter a number: 1
1 is not a prime number.

In [ ]:
for i in range(5):
    for k in range(5-i):
        print(" ", end="")
    for j in range(i):
        print("*", end="")
    print()

    *
   **
  ***
 ****

In [ ]:
n=5
for i in range(1,n + 1):
 print(" "*(n-i) + "*"*(2*i-1))

    *
   ***
  *****
 *******
*********

In [ ]:
for i in range(1, 6):  # Loop for the number of rows
    for k in range(5, i, -1):  # Print spaces to align the stars properly
        print(" ", end="")
    for j in range(0, i):  # Print stars in each row
        print("*", end="")
    print()

    *
   **
  ***
 ****
*****

In [ ]:
Z
n = int(input())
sum_of_numbers = sum(range(1, n + 1))

print("The sum of the natural numbers is:", sum_of_numbers)

5
The sum of the natural numbers is: 15

In [ ]:
# Factorial calculator using iteration
def factorial_iterative(n):
    if n < 0:
        return "Factorial is not defined for negative numbers"
    result = 1
    for i in range(1, n + 1):
        result *= i
    return result

# Input from user
number = int(input("Enter a number: "))
print(f"The factorial of {number} is: {factorial_iterative(number)}")

Enter a number: 5
The factorial of 5 is: 120

In [ ]:
C=float(input())
F=(F - 32/9)*5
print("The temperature in celcius ",C)

96.80
The temperature in celcius  466.2222222222222

In [ ]:
def is_palindrome(string):
    string = string.replace(" ", "").lower()
    return string == string[::-1]

# Test the function
input_string = input("Enter a string: ")
if is_palindrome(input_string):
    print(f'"{input_string}" is a palindrome.')
else:
    print(f'"{input_string}" is not a palindrome.')

Enter a string: 9381771839
"9381771839" is a palindrome.

In [ ]:
n=int(input())
a=map(int,input().split())
b=set(a)
c=sorted(b)
print(c[-2])

4
5 6 7 8
7

In [ ]:
a=[4,5,6,7,8,9]
b=set(a)
c=sorted(b)
print(c[-2])

8

In [ ]:

def celsius_to_fahrenheit(celsius):
    return (celsius * 9/5) + 32
celsius = float(input("Enter temperature in Celsius: "))
fahrenheit = celsius_to_fahrenheit(celsius)
print(f"{celsius}°C is equal to {fahrenheit:.2f}°F")

Enter temperature in Celsius: 36
36.0°C is equal to 96.80°F

In [ ]:
rows = int(input("Enter the number of rows for the triangle: "))

for i in range(1, rows + 1):
    for j in range(1, i + 1):
        print(i, end=' ')
    print()

Enter the number of rows for the triangle: 5
1
2 2
3 3 3
4 4 4 4
5 5 5 5 5

In [ ]:
rows = int(input("Enter the number of rows for the diamond: "))
for i in range(1, rows + 1):
    print(' ' * (rows - i) + ' *' * (i))
for i in range(rows - 1, 0, -1):
    print(' ' * (rows - i) + ' *' * (i))

Enter the number of rows for the diamond: 6
      *
     * *
    * * *
   * * * *
  * * * * *
 * * * * * *
  * * * * *
   * * * *
    * * *
     * *
      *

In [ ]:
for x in range(1,6):
 for y in range(1,x+1):
  print(int(y),end=" ")
 print()

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [ ]:
rows = int(input("Enter the number of rows for the diamond: "))
for i in range(1, rows + 1):
    print(' ' * (rows - i) + ' *' * (i))
for i in range(rows , 0, -1):
    print(' ' * (rows - i) + ' *' * (i))

Enter the number of rows for the diamond: 6
      *
     * *
    * * *
   * * * *
  * * * * *
 * * * * * *
 * * * * * *
  * * * * *
   * * * *
    * * *
     * *
      *

In [ ]:
name = input("Enter a name: ")
vowelslist = ('a', 'e', 'i', 'o', 'u')
vowelscount = 0
consonantscount = 0

for i in name.lower():
    if i in vowelslist:
        vowelscount += 1
    else:
        consonantscount += 1

print("Number of vowels =", vowelscount)
print("Number of consonants =", consonantscount)

Enter a name: Siri Bhuvaneswari
Number of vowels = 7
Number of consonants = 11