<a href="https://colab.research.google.com/github/Somarouthusiri/python/blob/main/python_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
n=int(input())
fact=1

for i in range(1,n+1):
    fact *=i

print(fact,end=" ")

5
120

In [ ]:
num = 1234
reversed_num = 0

while num > 0:
    digit = num % 10
    reversed_num = reversed_num * 10 + digit
    num = num // 10

print(reversed_num)

4321

In [ ]:


num = int(input("Enter a number: "))
factorial = 1

for i in range(1, num + 1):
    factorial *= i

print(factorial)

Enter a number: 5
120

In [ ]:
n=input()
count=0
for i in str(n):
   count+=1
   print(count,end=" ")

1 2 3 4 5 6 7 8 9

In [ ]:
y=int(input())
if(y%4==0 and y%100!=0 or y%400==0):
    print("leap year")
else:
    print("not a leap year")

2024
leap year

In [ ]:
num = int(input("Enter a number: "))

if num > 1:
    for i in range(2, num):
        if num % i == 0:
            print(num, "is not a prime number")
            break
    else:
        print(num, "is a prime number")
else:
    print(num, "is not a prime number")

Enter a number: 20
20 is not a prime number

In [ ]:
n = int(input("Enter a number: "))

for num in range(2, n ):
    for i in range(2, num):
        if num % i == 0:
            break
    else:
          print(num, end=" ")

Enter a number: 20
2 3 5 7 11 13 17 19

In [ ]:
a=int(input())
for i in range(a):
  for j in range(a):
    print("*",end=" ")
  print()

4
* * * *
* * * *
* * * *
* * * *

In [ ]:
n = int(input("Enter the number of terms: "))
a, b = 2, 1
for i in range(n):
    print(a, end=" ")
    a, b = b, a + b

Enter the number of terms: 7
2 1 3 4 7 11 18

In [ ]:
n=int(input())
sum=0
for i in range(n+1):
  sum+=i
  print(sum,end=' ')

5
0 1 3 6 10 15

In [ ]:
a=input()
print(a.count("is"))

siri is a good girls,siri is bad girl
2

In [ ]:
a={1,2,3,4}
b={2,3,4,5}
c={0,2,3,4}
z=a&b&c
print(z)

{2, 3, 4}

In [ ]:
a="siri Bhuvaneswari"
b=""
for i in a:
  if i not in b:
      b=b+i
print(b)

sir Bhuvanew